.linkout-information-text {
    font-size: 25px;
    text-align: center;
}

.linkout-button-frame {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.linkout-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.linkout-button {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #1B1D1E;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    font-size: 25px;
    height: 75px;
    width: 400px;
}

.linkout-button:hover {
    background-color: #5b5b5b;
    border: 1px solid #fff;
    color: #fff;
}

.linkout-button-inner {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 35px;
    text-align: center;
    width: 100%;
}

#linkout-URL {
    color: #fff;
    text-decoration: none;
}

.linkout-error-msg {
    font-size: 10px;
    text-align: center;
}