.account-container {
    width: 100%;
}

.account-column {
    border-top: 1px solid #fff;
    display: flex;
    width: calc(100% - 2px);
}

.account-column-left {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
    max-width: 300px;
    width: calc(50% - 0.5px);
}

.account-left-item {
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    max-width: 300px;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.account-left-item:hover {
    background-color: var(--bg-2);
}

.account-left-item.active {
    background-color: var(--bg-2);
}

.account-left-svg {
    height: 29px;
}

.account-left-text {
    font-size: 21px;
    text-align: center;
}

.account-column-middle {
    background-color: #fff;
    height: 100%;
    width: 1px;
}

.account-column-right {
    padding: 30px;
    width: calc(100% - 305px - 1px);
}

.account-right-content {
    width: auto;
}

@media (max-width: 1150px) {
    .account-column {
        flex-direction: column;
        width: 100%;
    }

    .account-column-right {
        padding: 10px;
        width: calc(100% - 20px);
    }
    
    .account-left-item {
        max-width: none;
        width: calc(100% - 10px) !important;
    }
    
    .account-column-left {
        max-width: none;
        width: calc(100% - 10px);
    }
}

@media (max-width: 760px) {
    .account-column-left  {
        min-width: 225px;
        width: calc(100% - 10px) !important;
    }

    .general-maincontent {
        flex-direction: column;
        height: calc(100% - 60px);
        padding: 0px;
    }

    .general-element {
        width: calc(100% - 11px) !important;
    }
}

.general-maincontent {
    display: flex;
    gap: 20px;
    height: calc(100% - 60px);
    justify-content: center;
    padding: 10px;
}

.general-element {
    border: 1px solid var(--bg-2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 45%;
}

.general-element-top {
    color: var(--tt-2);
    font-size: 18px;
}

.general-element-bottom {
    font-size: 22px;
    overflow: visible;
    word-break: break-all;
}

.preferences-maincontent {
    width: 100%;
}

.preferences-action {
    align-items: center;
    border: 1px solid var(--bg-2);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
}

.preferences-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 70%;
}

.preferences-header a {
    color: var(--tt-1);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.preferences-description a {
    color: var(--tt-2);
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
}

.preferences-switcher {
    align-items: center;
    display: flex;
}