.head {
    border-radius: 10px;
    font-family: 'Poppins';
    font-weight: 200;
    height: 73.67px;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1148px;
    /* Non selectable text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gh-ui-navbar {
    padding-bottom: 15px;
    padding-top: 15px;
}

.menu-header {
    background-color: #1b1d1e;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    display: block !important;
    height: 104.5px;
    left: 0;
    position: fixed;
    top: 0;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    width: 100%;
    z-index: 99999;
    /* Non selectable text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-header.window-scrolling {
    background-color: rgba(36, 38, 43, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.header {
    background-color: rgba(36, 38, 43, 1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(50, 51, 60, 0.5);
    border-radius: 10px;
    height: 53px;
    padding: 10px;
}

.box-container {
    display: flex;
    height: 50px;
    justify-content: space-around;
    position: relative;
}

/* Information */
.left-column {
    height: 50px;
    width: 300px;
}

.information {
    height: 50px;
    width: 300px;
}

.img {
    height: 50px;
    width: 50px;
}

img {
    border-radius: 5px;
}

.text-inner {
    height: 50px;
    width: 250px;
}

.text {
    height: 50px;
    width: 250px;
}

.parallax-container {
    perspective: 1000px;
}

.parallax-image {
    background-image: url('https://media.forgecdn.net/avatars/911/517/638366219563911068.png');
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    height: 50px;
    transform-style: preserve-3d;
    transition: transform 0.05s ease;
    width: 50px;
}

.container {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: initialWidth;
    background-color: transparent;
    color: white;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    height: 50px;
    margin: 0;
    margin-left: 5px;
    overflow: hidden;
    width: 180px;
}

.scrolling-items {
    background-color: transparent;
    display: flex;
    font-size: 33px;
    width: 2740.34px;
    /* 
        width = [ (Width of .scrolling-item) * 2] on 100% zoom level
        TW = total width of text
    */
    animation-name: infiniteScroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.scrolling-item {
    background-color: transparent;
    font-weight: 100;
    white-space: nowrap;
}

/* Scrolling items */
@keyframes initialWidth {
    from {
        width: 180px;
    }

    to {
        width: calc(100% - 55px);
    }
}

@keyframes infiniteScroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* Menu */
.header-middle-column {
    width: 400px;
    height: 50px;
}

.header-menu {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-around;
    padding: 10px 0;
    position: relative;
    width: 400px;
}

.header-menu-item {
    font-size: 17px;
    color: #888;
    cursor: pointer;
    height: 30px;
    text-align: center;
    width: 100px;
}

.header-menu-item-inner {
    height: 23.2px;
    padding: 3.4px;
}

.header-menu-item.active, .menu-item:hover {
    color: #fff;
}

#mobileLine {
    display: none;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

/* About & others */
.header-right-column {
    height: 50px;
    width: 200px;
}

.header-r-others {
    display: flex;
    height: 50px;
    gap: 7.5px;
    justify-content: space-between;
    position: relative;
}

.header-r-cf {
    height: 50px;
    width: 50px;
}

.header-r-language {
    height: 50px;
    width: 55px;
}

.header-language-container {
    height: 50px;
    width: 55px;
}

#language-container {
    border: 1px solid #24262B;
}

#language-container:hover {
    border: 1px solid #808080;
    border-radius: 5px;
    height: 50px;
    width: 53px;
}

.mb-flexible-language-container {
    border-radius: 5px;
    height: 50px;
    width: 53px;
}

#german-de_DE {
    height: 50px;
    width: 53px;
}

.flexible-language-container {
    border: 1px solid #24262B;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 53px;
}

.flexible-language-symbol {
    height: 30px;
    margin: 0 auto;
    width: 40px;
}

.flexible-language-svg {
    height: 30px;
    width: 40px;
}

.flexible-language-text {
    font-size: 13px;
    height: 18.4px;
    text-align: center;
    width: 53px;
}

/* Login */
.header-r-login {
    cursor: pointer;
    height: 50px;
}

.header-login-container {
    height: 50px;
    width: 60px;
}

.flexible-welcome-container {
    display: flex;
    height: 50px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 60px;
}

.flexible-welcome-symbol {
    height: 31.6px;
    margin: 0 auto;
    width: 31.6px;
}

#welcome-container, #signin-container {
    height: 50px;
    width: 60px;
}

.flexible-welcome-img {
    border-radius: 20%;
    height: 31.6px !important;
    width: 31.6px !important;
}

.flexible-welcome-text {
    font-size: 12px;
}

@media (max-width: 920px) {
    main {
        padding-top: 150px !important;
    }

    /* Basic Header Design */
    .gh-ui-navbar {
        padding: 7.5px !important;
    }
    .menu-header {
        height: 140px !important;
    }

    .head {
        height: 125px !important;
    }
    
    .header {
        height: 103px !important;
    }

    .box-container {
        flex-direction: column;
        height: 106px;
        justify-content: center;
        padding: 0;
        width: 100%;
    }

    #mobileLine {
        display: block !important;
    }

    /* Left Menu */
    .left-column, .information, .text, .text-inner {
        width: 100% !important;
    }

    /* Middle Column*/
    .header-middle-column, #header-placeholder-ltm, #header-placeholder-mtr {
        display: none !important;
    }

    .header-middle-column, .header-menu {
        width: 100% !important;
    }

    .header-menu-item {
        width: 115px !important;
    }

    /* Right Column */
    .header-right-column {
        width: 100% !important;
    }

    #menu-opener {
        display: block !important;
    }
}