#mobile-header {
    background-color: #1B1D1E;
    position: absolute;
    width: 100%;
}

.mb-gh-ui-navbar {
    border-bottom: 2px solid #fff;
    height: 100%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    /* Non selectable text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.mb-head {
    min-width: 300px;
    margin: 0 auto;
    max-width: 400px;
}

.mb-header {
    height: 100%;
    min-width: 300px;
    max-width: 400px;
}

.mb-top-menu {
    border: 1px solid #32333C;
    border-radius: 5px;
    background-color: #24262B;
    height: 50px;
    min-width: 298px;
    max-width: 398px;
}

.mb-box-container {
    min-width: 298px;
    max-width: 398px;
}

.mb-left-column {
    
}

.mb-information {
    display: flex;
}

.mb-img-frame {
    height: 47.5px;
    margin: 1.25px;
    width: 47.5px;
}

.mb-img {
    border-radius: 7.5px;
    height: 47.5px;
    width: 47.5px;
}

.mb-text {
    height: 50px;
    margin-left: 2.5px;
    min-width: 250px;
    max-width: 350px;
}

.mb-text-inner {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    background-color: #24262B;
    border-radius: 5px;
    color: white;
    height: 50px;
    margin: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: calc(100% - 5px);
}

.flexible-mb-head-iframe {
    width: 100%;
}

.individual-mb-header-placeholder {
    width: 100%;
}

.mb-middle-menu {
    border: 1px solid #32333C;
    border-radius: 5px;
    background-color: #24262B;
    height: 50px;
    min-width: 298px;
    max-width: 398px;
}

.mb-right-column {

}

.mb-others {
    display: flex;
}

.mb-clickelement {
    height: 50px;
}

@keyframes initialMBWidth {
    from {
        width: 180px;
    }

    to {
        width: 348px;
    }
}

@keyframes infiniteMBScroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.mb-container {
    width: 180px;
    height: 50px;
    overflow: hidden;
    animation-name: initialMBWidth;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.mb-scrolling-items {
    display: flex;
    font-size: 33px;
    width: 2740.32px;
    /* 
        width = [TW * 1.5]
        TW = total width of text
    */
    animation-name: infiniteMBScroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mb-scrolling-item {
    white-space: nowrap;
}
