.mobile-menu {
    animation: righttoleft 0.25s ease-in;
    background-color: #181818;
    border-radius: 20px;
    bottom: 0;
    color: #fff;
    display: none;
    height: 100%;
    left: 60px;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 60px);
    z-index: 1000;
}

.mobile-menu.closing {
    animation: righttoleft-reverse 0.25s ease-in;
}

@keyframes righttoleft {
    0% {
        left: 100%;
    }
    100% {
        left: 60px;
    }
}

@keyframes righttoleft-reverse {
    0% {
        left: 60px;
    }
    100% {
        left: 100%;
    }
}

.mobile-menu-inner {
    height: calc(100% - 12px);
    margin: 7.5px;
}

.mbm-header-items {
    display: flex;
}

.mbm-header {
    font-size: 30px;
    height: 50px;
    width: 100%;
}

.mbm-close {
    cursor: pointer;
    height: 50px;
    right: 0;
    width: 50px;
}

.mbm-maincontent {
    height: calc(100% - 100px);
}

.mbm-maincontent-items {

}

.mbm-maincontent-item {
    font-size: 25px;
}

.mbm-footer {
    height: 12px;
    font-size: 8px;
}