.dt-head {
    border-radius: 10px;
    font-family: 'Poppins';
    font-weight: 200;
    margin: 0;
    margin: 0 auto;
    overflow: hidden;
    height: 73.67px;
    width: 1148px;
    /* Non selectable text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.dt-gh-ui-navbar {
    height: 72.5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dt-header {
    background-color: #24262B;
    height: 53px;
    padding: 10px;
}

.dt-box-container {
    display: flex;
    height: 50px;
    justify-content: space-around;
    position: relative;
}

/* Information */
.dt-left-column {
    height: 50px;
    width: 300px;
}

.dt-information {
    height: 50px;
    width: 300px;
}

.dt-img {
    height: 50px;
    width: 50px;
}

img {
    border-radius: 5px;
}

.dt-text-inner {
    height: 50px;
    width: 250px;
}

.dt-text {
    height: 50px;
    width: 250px;
}

/* Menu */
.dt-middle-column {
    width: 400px;
    height: 50px;
}

.dt-menu {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-around;
    padding: 10px 0;
    position: relative;
    width: 400px;
}

.dt-menu-item {
    font-size: 17px;
    color: #888;
    cursor: pointer;
    height: 30px;
    text-align: center;
    width: 100px;
}

.dt-menu-item-inner {
    height: 23.2px;
    padding: 3.4px;
}

.dt-menu-item.active, .menu-item:hover {
    color: #fff;
}

/* About & others */
.dt-right-column {
    height: 50px;
    width: 220px;
}

.dt-others {
    display: flex;
    height: 50px;
    justify-content: space-around;
    position: relative;
}

.dt-cf {
    height: 50px;
    width: 50px;
}

/* Scrolling items */
@keyframes initialWidth {
    from {
        width: 180px;
    }

    to {
        width: 240px;
    }
}

@keyframes infiniteScroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.dt-container {
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color: white;
    margin: 0;
    overflow: hidden;
    margin-left: 5px;
    width: 180px;
    height: 50px;
    animation-name: initialWidth;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.dt-scrolling-items {
    background-color: transparent;
    display: flex;
    font-size: 33px;
    width: 2740.32px;
    /* 
        width = [TW * 1.5]
        TW = total width of text
    */
    animation-name: infiniteScroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.dt-scrolling-item {
    background-color: transparent;
    font-weight: 100;
    white-space: nowrap;
}
