.dt-helpcenter-header {
    height: auto;
    text-align: center;
    max-width: 1150px;
    min-width: 300px;
}

.dt-helpcenter-information-container {
    height: auto;
    min-width: 300px;
    max-width: 1150px;
}

.dt-helpcenter-ic-header {
    font-size: 25px;
}

.dt-helpcenter-ic-contents {
    font-size: 25px;
}

.dt-helpcenter-ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}