.dt-discord-content {
    margin: 0 auto;
    text-align: center;
    min-width: 300px;
    max-width: 1150px;
}

.dt-dsc-content-information {
    min-width: 300px;
    max-width: 1150px;
}

/* Discord page */
.dt-dsc-container {
    height: auto;
    overflow: hidden;
    min-width: 300px;
    max-width: 1150px;
    text-align: left;
}

.dt-dsc-frame {
    height: auto;
    overflow: hidden;
    min-width: 300px;
    max-width: 1150px;
}

.dt-dsc-information {
    min-height: 475px;
    max-height: 100%;
    overflow: hidden;
    min-width: 300px;
    max-width: 1000px;
}

/* Information */
.dt-dsc-info-desc {
    height: 100%;
    min-width: 300px;
    max-width: 1000px;
}

.dt-dsc-info-bullets {
    height: auto;
    margin-bottom: 20px;
    min-width: 300px;
    max-width: 1000px;
}

/* Bullet */
.dt-bullet {
    display: flex;
    margin-left: 10px;
    min-height: 35px;
    max-height: 300px;
    min-width: 300px;
    max-width: 1000px;
}

.dt-bullet-svg {
    height: 35px;
    padding: 5px;
    width: 35px;
}

.dt-bullet-text {
    font-size: 1.56em;
    min-height: 35.2px;
    max-height: 300px;
    padding: 4.9px;
    width: 100%;
}

.dt-dsc-invitejoiner {
    background-color: #5865F2;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: 0 auto;
    min-width: 300px;
    max-width: 470px;
    /* Non selectable text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.dt-dsc-logo {
    height: 50px;
    padding: 10px;
    width: 50px;
}

.dt-dsc-text {
    color: #fff;
    font-size: 30px;
    height: 43px;
    padding-bottom: 13.5px;
    padding-top: 13.5px;
    padding-right: 17px;
    text-align: center;
    width: 100%;
}

.dt-discord-footer-information {
    font-size: 10px;
    margin: 0 auto;
    max-width: 1150px;
    text-align: center;
}