.mb-download {
    width: auto;
}

.mb-download-header {
    display: flex;
    font-size: 23px;
    margin: 0 auto;
    width: 380px;
}

.mb-download-h-maindir {
    width: auto;
}

.mb-download-h-arrowdir {
    text-align: center;
}

.mb-download-h-nextdir {
    width: auto;
}

.mb-download-project-information {
    display: flex;
    margin: 0 auto;
    width: 1000px;
}

.mb-download-project-information-image {
    height: 75px;
    width: 75px;
}

.mb-download-project-information-text {
    height: 60px;
    padding: 7.5px;
    font-size: 22px;
}

.mb-download-project-information-text-top {
    font-weight: 400;
    height: 30px;
}

.mb-download-project-information-text-bottom {
    width: auto;
    height: 30px;
}

.mb-download-table {
    margin: 0 auto;
    width: 380px;
}

/* Table */
.mb-table {
    font-size: 13px;
    width: 300px;
    border-spacing: 0px;
}

.mb-table, .mb-td, .mb-tr {
    border-top: 1px solid #fff;
    border-collapse: collapse;
    font-weight: 200;
    text-align: left;
}

.mb-tr {
    height: 47px;
}

/* List */
ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

li {
    font-size: 25px;
}

.mb-th-l1 {
    height: 47px;
    text-align: center;
    width: 48px !important;
}

.mb-th-l2 {
    height: 47px;
    text-align: left;
    padding-left: 9px;
    padding-right: 9px;
    width: 100px;
}

.mb-th-l3 {
    height: 47px;
    text-align: left;
    width: 100px;
}

.mb-th-l4 {
    height: 47px;
    text-align: left;
    width: 75px;
}

/* Content */
.mb-td-image {
    height: 47px;
    width: 48px;
}

.mb-td-image-container {
    height: 30px;
    margin-left: 9.015px;
    margin-right: 9.015px;
    width: 30px;
}

.mb-td-name {
    height: 47.11px;
    text-align: left;
    width: 128.02px;
}

.mb-td-name-container {
    height: 18.08px;
    width: 128.02px;
}

.mb-td-date {
    height: 47.11px;
    text-align: left;
    width: 118.02px;
}

.mb-td-date-container {
    height: 18.08px;
    width: 118.02px;
}

.mb-td-size {
    height: 47.11px;
    text-align: left;
    width: 75px;
}

.mb-td-size-container {
    width: 75px;
    height: 18.08px;
}

.mb-td-gversion {
    height: 47.11px;
    width: 78.02px;
}

.mb-td-gversion-container {
    width: 78.02px;
}

/* Current page */
.mb-download-currentpage {
    height: 150px;
    margin: 0 auto;
    width: 380px;
}

.mb-tooltip-container {
    width: 70px;
    margin: 0 auto;
}

.mb-tooltip {
    align-items: center; 
    cursor: pointer;
    display: inline-flex;
    font-weight: 200;
    margin: 0 auto;
    position: relative;
}

.mb-tooltip .mb-tooltiptext {
    background-color: #555;
    border-radius: 5px;
    color: #fff;
    left: 50%;
    margin-left: -95px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 100%;
    transition: opacity 0.3s;
    visibility: hidden;
    width: 180px;
    z-index: 1;
}

.mb-tooltip:hover .mb-tooltiptext {
    opacity: 1;
    visibility: visible;
}

.mb-tooltip .mb-left-bracket,
.mb-tooltip .mb-right-bracket,
.mb-tooltip .mb-middle-bracket {
    color: #ccc;
    margin: 0 5px;
}

.mb-middle-bracket {
    color: #fff;
    font-size: 25px; 
}
  
.mb-tooltiptext {
    padding: 10px;
}


/* Download page layout */
.mb-dwnld-area {
    margin: 0 auto;
    width: 1000px;
}

.mb-dwnld-table {
    text-align: left;
    width: 1000px;
}

.mb-dwnld-mb-td-c1 {
    width: 198px;
}

.mb-dwnld-mb-td-c2 {
    width: 498px;
}

.mb-dwnld-mb-td-c3 {
    width: auto;
}

.mb-dwnld-changelog {
    text-align: center;
}

.mb-dwnld-cl-header {
    text-align: center;
}

.mb-dwnld-cl-version {
    text-align: left;
}

.mb-dwnld-cl-changelog {
    font-size: 30px;
    font-weight: 200;
    text-align: left;
}

.mb-download-footer-information {
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
    width: 1150px;
}