.mb-download-table {
    margin: 0 auto;
    min-width: 300px;
    max-width: 400px;
}

/* Table */
.mb-table {
    font-size: 15px;
    width: 340px;
    margin: 0 auto;
    border-spacing: 0px;
}

.mb-table, .mb-td, .mb-tr {
    border-top: 1px solid #fff;
    border-collapse: collapse;
    font-weight: 200;
    text-align: left;
}

.mb-tr {
    height: 60px;
}

/* List */
ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

li {
    font-size: 15px;
}

.mb-th-l1 {
    text-align: center;
    width: 40px;
}

.mb-th-l2 {
    text-align: left;
    padding-left: 9px;
    padding-right: 9px;
    width: 125px;
}

.mb-th-l3 {
    text-align: left;
    width: 69px;
}

.mb-th-l4 {
    text-align: left;
    width: 80px;
}

/* Content */
.mb-td-image {
    width: 40px;
}

.mb-td-image-container {
    height: 30px;
    margin-left: 4px;
    margin-right: 4px;
    width: 30px;
}

.mb-td-name {
    text-align: left;
    width: 125px;
}

.mb-td-name-container {
    height: 28px;
    margin-left: 9px;
    margin-right: 9px;
    width: 125px;
}

.mb-td-date {
    text-align: left;
    width: 100px;
}

.mb-td-date-container {
    width: 100px;
    height: 28px;
}

.mb-td-size {
    text-align: left;
    width: 69px;
}

.mb-td-size-container {
    width: 69px;
    height: 28px;
}

.mb-td-gversion {
    width: 80px;
}

.mb-td-gversion-container {
    width: 80px;
}
