.dt-download {
    width: auto;
}

.dt-download-header {
    display: flex;
    font-size: 23px;
    margin: 0 auto;
    width: 1000px;
}

.dt-download-h-maindir {
    width: auto;
}

.dt-download-h-arrowdir {
    text-align: center;
}

.dt-download-h-nextdir {
    width: auto;
}

.dt-download-project-information {
    display: flex;
    margin: 0 auto;
    width: 1000px;
}

.dt-download-project-information-image {
    height: 140px;
    width: 140px;
}

.dt-download-project-information-text {
    height: 102px;
    padding: 19px;
    font-size: 35px;
}

.dt-download-project-information-text-top {
    font-weight: 400;
}

.dt-download-project-information-text-bottom {
    width: auto;
}

.dt-download-table {
    margin: 0 auto;
    width: 1000px;
}

/* Mobile Table */
.mb-download-table {

}

/* Table */
.dt-table {
    font-size: 20px;
    max-width: 1000px;
    min-width: 300px;
    border-spacing: 0px;
}

.dt-table, .dt-td, .dt-tr {
    border-top: 1px solid #fff;
    border-collapse: collapse;
    font-weight: 200;
    text-align: left;
}

.dt-tr {
    height: 60px;
}

/* List */
ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

li {
    font-size: 25px;
}

.dt-th-l1 {
    text-align: center;
    width: 98px;
}

.dt-th-l2 {
    text-align: left;
    padding-left: 9px;
    padding-right: 9px;
    max-width: 280px;
    min-width: 180px;
}

.dt-th-l3 {
    text-align: left;
    width: 248px;
}

.dt-th-l4 {
    text-align: left;
    width: 173px;
}

.dt-th-l5 {
    text-align: left;
    width: 185px;
}

/* Content */
.dt-td-image {
    width: 98px;
}

.dt-td-image-container {
    height: 40px;
    margin-left: 29px;
    margin-right: 29px;
    width: 40px;
}

.dt-td-name {
    text-align: left;
    max-width: 280px;
    min-width: 180px;

}

.dt-td-name-container {
    height: 28px;
    margin-left: 9px;
    margin-right: 9px;
    width: 280px;
}

.dt-td-date {
    text-align: left;
    width: 248px;
}

.dt-td-date-container {
    width: 248px;
    height: 28px;
}

.dt-td-size {
    text-align: left;
    width: 173px;
}

.dt-td-size-container {
    width: 173px;
    height: 28px;
}

.dt-td-gversion {
    width: auto;
}

.dt-td-gversion-container {
    width: auto;
}

/* Current page */
.dt-download-currentpage {
    height: 150px;
    margin: 0 auto;
    width: 1000px;
}

.dt-tooltip-container {
    width: 70px;
    margin: 0 auto;
}

.dt-tooltip {
    align-items: center; 
    cursor: pointer;
    display: inline-flex;
    font-weight: 200;
    margin: 0 auto;
    position: relative;
}

.dt-tooltip .dt-tooltiptext {
    background-color: #555;
    border-radius: 5px;
    color: #fff;
    left: 50%;
    margin-left: -95px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 100%;
    transition: opacity 0.3s;
    visibility: hidden;
    width: 180px;
    z-index: 1;
}

.dt-tooltip:hover .dt-tooltiptext {
    opacity: 1;
    visibility: visible;
}

.dt-tooltip .dt-left-bracket,
.dt-tooltip .dt-right-bracket,
.dt-tooltip .dt-middle-bracket {
    color: #ccc;
    margin: 0 5px;
}

.dt-middle-bracket {
    color: #fff;
    font-size: 25px; 
}
  
.dt-tooltiptext {
    padding: 10px;
}


/* Download page layout */
.dt-dwnld-area {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
}

.dt-dwnld-table {
    text-align: left;
    width: 1000px;
}

.dt-dwnld-dt-td-c1 {
    width: 198px;
}

.dt-dwnld-dt-td-c2 {
    width: 498px;
}

.dt-dwnld-dt-td-c3 {
    width: auto;
}

.dt-dwnld-changelog {
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
}

.dt-dwnld-cl-header {
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
}

.dt-dwnld-cl-version {
    text-align: left;
}

.dt-dwnld-cl-changelog {
    font-size: 30px;
    font-weight: 200;
    text-align: left;
}

.dt-download-footer-information {
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
    min-width: 300px;
}

/* Individual Download Site */
.dt-dwnld-page-table, .dt-dwnld-td-c1, .dt-dwnld-td-c2, .dt-dwnld-td-c3, .dt-tr {
    border-top: 1px solid #fff;
    border-collapse: collapse;
    font-weight: 200;
    text-align: left;
}

.dt-dwnld-page-table {
    width: auto;
}

.dt-dwnld-page-thead {
    height: 50px;
}

.dt-dwnld-td-c1 {
    height: 50px;
    width: 100px;
}

.dt-dwnld-td-c2 {
    height: 50px;
    width: 200px;
}

.dt-dwnld-td-c3 {
    height: 50px;
    width: 300px;
}

/* Mobile */
.mb-download {
    width: auto;
}

.mb-download-header {
    display: flex;
    font-size: 23px;
    margin: 0 auto;
    width: 380px;
}

.mb-download-h-maindir {
    width: auto;
}

.mb-download-h-arrowdir {
    text-align: center;
}

.mb-download-h-nextdir {
    width: auto;
}

.mb-download-project-information {
    display: flex;
    margin: 0 auto;
    width: 380px;
}

.mb-download-project-information-image {
    height: 140px;
    width: 140px;
}

.mb-download-project-information-text {
    height: 102px;
    font-size: 35px;
}

.mb-download-project-information-text-top {
    font-weight: 400;
}

.mb-download-project-information-text-bottom {
    width: auto;
}

/* Table */
.mb-table {
    font-size: 20px;
    width: 1000px;
    border-spacing: 0px;
}

.mb-table, .mb-td, .mb-tr {
    border-top: 1px solid #fff;
    border-collapse: collapse;
    font-weight: 200;
    text-align: left;
}

.mb-tr {
    height: 60px;
}

/* List */
ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

li {
    font-size: 25px;
}

.mb-th-l1 {
    text-align: center;
    width: 98px;
}

.mb-th-l2 {
    text-align: left;
    padding-left: 9px;
    padding-right: 9px;
    width: 280px;
}

.mb-th-l3 {
    text-align: left;
    width: 248px;
}

.mb-th-l4 {
    text-align: left;
    width: 173px;
}

.mb-th-l5 {
    text-align: left;
    width: 185px;
}

/* Content */
.mb-td-image {
    width: 98px;
}

.mb-td-image-container {
    height: 40px;
    margin-left: 29px;
    margin-right: 29px;
    width: 40px;
}

.mb-td-name {
    text-align: left;
    width: 280px;
}

.mb-td-name-container {
    height: 28px;
    margin-left: 9px;
    margin-right: 9px;
    width: 280px;
}

.mb-td-date {
    text-align: left;
    width: 248px;
}

.mb-td-date-container {
    width: 248px;
    height: 28px;
}

.mb-td-size {
    text-align: left;
    width: 173px;
}

.mb-td-size-container {
    width: 173px;
    height: 28px;
}

.mb-td-gversion {
    width: auto;
}

.mb-td-gversion-container {
    width: auto;
}

/* Current page */
.mb-download-currentpage {
    height: 150px;
    margin: 0 auto;
    width: 1000px;
}

.mb-tooltip-container {
    width: 70px;
    margin: 0 auto;
}

.mb-tooltip {
    align-items: center; 
    cursor: pointer;
    display: inline-flex;
    font-weight: 200;
    margin: 0 auto;
    position: relative;
}

.mb-tooltip .mb-tooltiptext {
    background-color: #555;
    border-radius: 5px;
    color: #fff;
    left: 50%;
    margin-left: -95px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 100%;
    transition: opacity 0.3s;
    visibility: hidden;
    width: 180px;
    z-index: 1;
}

.mb-tooltip:hover .mb-tooltiptext {
    opacity: 1;
    visibility: visible;
}

.mb-tooltip .mb-left-bracket,
.mb-tooltip .mb-right-bracket,
.mb-tooltip .mb-middle-bracket {
    color: #ccc;
    margin: 0 5px;
}

.mb-middle-bracket {
    color: #fff;
    font-size: 25px; 
}
  
.mb-tooltiptext {
    padding: 10px;
}


/* Download page layout */
.mb-dwnld-area {
    margin: 0 auto;
    width: 1000px;
}

.mb-dwnld-table {
    text-align: left;
    width: 1000px;
}

.mb-dwnld-mb-td-c1 {
    width: 198px;
}

.mb-dwnld-mb-td-c2 {
    width: 498px;
}

.mb-dwnld-mb-td-c3 {
    width: auto;
}

.mb-dwnld-changelog {
    text-align: center;
}

.mb-dwnld-cl-header {
    text-align: center;
}

.mb-dwnld-cl-version {
    text-align: left;
}

.mb-dwnld-cl-changelog {
    font-size: 30px;
    font-weight: 200;
    text-align: left;
}

.mb-download-footer-information {
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
    width: 1150px;
}

/* Individual Download Site */
.mb-dwnld-page-table, .mb-dwnld-td-c1, .mb-dwnld-td-c2, .mb-dwnld-td-c3, .mb-tr {
    border-top: 1px solid #fff;
    border-collapse: collapse;
    font-weight: 200;
    text-align: left;
}

.mb-dwnld-page-table {
    width: auto;
}

.mb-dwnld-page-thead {
    height: 50px;
}

.mb-dwnld-td-c1 {
    height: 50px;
    width: 100px;
}

.mb-dwnld-td-c2 {
    height: 50px;
    width: 200px;
}

.mb-dwnld-td-c3 {
    height: 50px;
    width: 300px;
}