.dt-discord-header {
    text-align: center;
    width: 100%;
}

.dt-discord-container {
    background-color: #24262B;
    border: 1px solid #32333C;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 800px;
    min-width: 300px;
}

#successmsg {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

#successID {
    font-size: 10px;
}

#errormsg {
    font-size: 30px;
    text-align: center;
}

#errorDescription {
}