.dt-legal-header {
    min-width: 300px;
    max-width: 1150px;
    margin: 0 auto;
    min-height: 50px;
    text-align: center;
}

.dt-legal-subheader {
    width: auto;
}

.dt-legal-text-section {
    font-size: 1.56em;
    line-height: 37.5px;
    min-width: 300px;
    max-width: 1150px;
    margin: 0 auto;
    min-height: 40px;
    text-align: left;
}

.dt-legal-text-enumerations {
    text-align: left;
}

.dt-legal-text-enumeration-line {
    display: flex;
}

.dt-legal-text-enumeration-left {
    margin-left: 5px;
    margin-right: 10px;
}

.dt-legal-text-enumeration-right {
    text-align: left;
}

.dt-legal-contents {
    width: 100%;
}

.dt-legal-content {
    display: flex;
}

.dt-legal-content-l a, .dt-legal-content-r a {
    cursor: pointer;
}

.dt-legal-content-l {
    font-weight: 400;
}

.dt-legal-content-r {
    margin-left: 5px;
    width: 100%;
}

.dt-legal-h1 {
    font-size: 35px;
    font-weight: 500;
}

.dt-legal-h2 {
    font-size: 30px;
    font-weight: 500;
}

.dt-legal-ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.dt-btt-btn {
    background-color: #24262B;
    bottom: 25px;
    border: 1px solid #32333C;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
    height: 50px;
    left: 50%;
    padding: 10px;
    position: fixed;
    text-align: center;
    transform: translateX(-50%);
    width: 277.79px;
    z-index: 1000;
}

.dt-btt-button {
    display: flex;
}

.dt-btt-svg {
    height: 50px;
    width: 50px;
}

.dt-btt-text {
    font-size: 29px;
    height: 40px;
    margin: 5px;
    text-align: center;
    width: 100%;
}

/*  Every section: <div class="placeholder w1150 h30"></div>
    Header to subheader: <div class="placeholder w1150 h20"></div>
    Link ending: ?utm_src=projektcity_legal_information_link_linkout&utm_medium=projektcity&return_url=https%3A%2F%2Fprojektcity.github.io%2Flegal%2Fprivacy
    X.X to X.XX --> 30px
    X.XX to X.XXX --> 20px

Enoumeration:
<div class="dt-legal-text-enumerations">
    <div class="dt-legal-text-enumeration-line">
        <div class="dt-legal-text-enumeration-left">
            <a></a>
        </div>
        <div class="dt-legal-text-enumeration-right">
            <a></a>
        </div>
    </div>
</div>

<a class="linkout" href="" target="_blank"></a>