.legal-header {
    max-width: 1150px;
    margin: 0 auto;
    min-height: 50px;
    min-width: 300px;
    text-align: center;
}

.legal-subheader {
    width: auto;
}

.legal-text-section {
    font-size: 1.56em;
    line-height: 37.5px;
    margin: 0 auto;
    max-width: 1150px;
    min-height: 40px;
    min-width: 300px;
    text-align: left;
}

.legal-text-enumerations {
    text-align: left;
}

.legal-text-enumeration-line {
    display: flex;
}

.legal-text-enumeration-left {
    margin-left: 5px;
    margin-right: 10px;
}

.legal-text-enumeration-right {
    text-align: left;
}

.legal-contents {
    width: 100%;
}

.legal-content {
    display: flex;
}

.legal-content-l a, .legal-content-r a {
    cursor: pointer;
}

.legal-content-l {
    font-weight: 400;
}

.legal-content-r {
    margin-left: 5px;
    width: 100%;
}

.legal-h1 {
    font-size: 35px;
    font-weight: 500;
}

.legal-h2 {
    font-size: 30px;
    font-weight: 500;
}

.legal-ul {
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.btt-btn {
    background-color: #24262B;
    bottom: 25px;
    border: 1px solid #32333C;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
    height: 50px;
    left: 50%;
    padding: 10px;
    position: fixed;
    text-align: center;
    transform: translateX(-50%);
    width: 277.79px;
    z-index: 1000;
}

.btt-button {
    display: flex;
}

.btt-svg {
    height: 50px;
    width: 50px;
}

.btt-text {
    font-size: 29px;
    height: 40px;
    margin: 5px;
    text-align: center;
    width: 100%;
}

@media (max-width: 500px) {
    .legal-h1 {
        font-size: 30px;
    }

    .legal-h2 {
        font-size: 25px;
    }

    .legal-text-section {
        font-size: 1.25em;
        line-height: 30px;
    }
}

/* Feedback */
#feedback-notice {
    background-color: #1771E6;
    bottom: 50%;
    left: -51px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 15px;
    transform: rotate(90deg);
    position: fixed;
}

.feedback-notice-container {
    cursor: pointer;
    display: flex;
    gap: 5px;
}

.feedback-notice-container:hover {
    text-decoration: underline;
}

.feedback-notice-container-svg {
    height: 25px;
    width: 25px;
}

.feedback-notice-container-text {
    font-size: 17.7px;
    font-weight: 500;
    margin: 0.4px 0px;
    height: 24.2px;
}

.feedback-notice-container-text div {
    transform: translateY(-1px);
}

#feedback-container {
    background-color: #181818;
    border: 1px solid #383939;
    border-radius: 20px;
    box-sizing: border-box;
    color: var(--tt);
    display: none;
    height: 521px;
    left: 50px;
    max-width: 530px;
    min-width: 300px;
    position: fixed;
    text-align: center;
    top: calc(50% - 95px);
    transition: all 0.5s;
    z-index: 100001;
    width: calc(100% - 20px);
}

.fb-con-frame {
    height: 446px;
}

.feedback-container-head {
    border-bottom: 1px solid var(--tt);
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 700;
    height: 30;
    padding: 15px;
    word-wrap: break-word;
}

#feedbackClose {
    cursor: pointer;
}

.feedback-container-content {
    padding: 10px;
    position: relative;
}

.feedback-container-content-head {
    text-align: left;
    font-size: 20px;
}

.feedback-container-content-form {
    padding-right: 5px;
    width: 100%;
}

.feedback-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
    align-items: flex-start;
}

.feedback-options label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s ease;
    width: 100%;;
}

.feedback-options label:hover {
    color: var(--tt-2);
}

.feedback-options label div {
    font-size: 20px;
    text-align: left;
    width: calc(100% - 40px - 5px);
}

.feedback-options input[type="radio"] {
    appearance: none;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.feedback-options input[type="radio"]:checked {
    background-color: #1771E6;
    border-color: #1771E6;
}

.feedback-container-content-footer {
    border-top: 1px solid rgba(243, 245, 247, 0.15);
    padding: 15px;
}

.feedback-container-content-formsend-btn, .feedback-container-content-done-btn {
    background-color: var(--tt);
    color: var(--tt-dark);
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    height: 44px;
    width: calc(100% - 2px);
}

.feedback-container-content-formsend-button, .feedback-container-content-done-button {
    height: 35px;
    margin: 4px 0px 5px 0px;
}

.feedback-container-content-end-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 100%;
    justify-content: space-between;
}

@media (max-width: 1250px) {
    #feedback-notice {
        background-color: #1771E6;
        bottom: 50%;
        right: -51px;
        left: auto !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px 15px;
        transform: rotate(-90deg);
        position: fixed;
    }

    #feedback-container {
        background-color: #181818;
        border: 1px solid #383939;
        border-radius: 20px;
        bottom: 20px;
        box-sizing: border-box;
        color: var(--tt);
        height: 521px;
        left: 50%;
        max-width: 530px;
        min-width: 300px;
        position: fixed;
        text-align: center;
        top: auto;
        transform: translateX(-50%);
        z-index: 100001;
        width: calc(100% - 20px);
    }
}

.fb-con-frame::-webkit-scrollbar {
    display: none;
}