/* Desktop */

.dt-gf-div-copy {
    font-size: 2em;
    font-weight: 400;
    width: 100%;;
}

.dt-gf-div-line {
    font-size: 1em;
    width: auto;
}

.dt-footer-content {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    /* Non selectable text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}