.dt-download {
    width: auto;
}

.dt-download-header {
    display: flex;
    font-size: 23px;
    margin: 0 auto;
    width: 1000px;
}

.dt-download-h-maindir {
    width: auto;
}

.dt-download-h-arrowdir {
    text-align: center;
}

.dt-download-h-nextdir {
    width: auto;
}

.dt-download-project-information {
    display: flex;
    margin: 0 auto;
    width: 1000px;
}

.dt-download-project-information-image {
    height: 140px;
    width: 140px;
}

.dt-download-project-information-text {
    font-size: 35px;
    height: 102px;
    padding: 19px;
}

.dt-download-project-information-text-top {
    font-weight: 400;
}

.dt-download-project-information-text-bottom {
    width: auto;
}

/* Table */
.dt-download-table {
    margin: 0 auto;
    max-width: 1000px;
    overflow-x: auto;
    position: relative;
}

.dt-table {
    border-collapse: collapse;
    cursor: pointer;
    font-size: 20px;
    margin: 0px 5px;
    width: calc(100% - 10px);
}

.dt-thead th,
.dt-tr td {
    padding-bottom: 9.5px;
    padding-top: 9.5px;
    white-space: nowrap;
}

.dt-dwnld-page-table,
.dt-dwnld-td-c1,
.dt-dwnld-td-c2,
.dt-dwnld-td-c3,
.dt-tr {
    border-top: 1px solid #fff;
    border-collapse: collapse;
    font-weight: 200;
    text-align: left;
}

.dt-dwnld-page-table {
    width: auto;
}

.dt-dwnld-page-thead {
    height: 50px;
}

.dt-dwnld-td-c1 {
    height: 50px;
    width: 100px;
}
  
.dt-dwnld-td-c2 {
    height: 50px;
    width: 200px;
}
  
.dt-dwnld-td-c3 {
    height: 50px;
    width: 300px;
}

.dt-td-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dt-td-name-container,
.dt-td-date-container,
.dt-td-size-container,
.dt-td-gversion-container {
    display: flex;
    align-items: center;
}

.dt-th-l1 {
    text-align: center;
}

.dt-th-l1, .dt-th-l2, .dt-th-l3, .dt-th-l4, .dt-th-l5 {
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 720px) {
    .dt-th-l3, .dt-td-date {
        display: none !important;
    }
}

@media (max-width: 450px) {
    .dt-th-l3, .dt-td-date {
        display: none !important;
    }

    .dt-tr, .dt-td-name-container, .dt-td-size, .dt-td-gversion {
        font-size: 17px;
    }
}

@media (max-width: 360px) {
    .dt-th-l3, .dt-td-date, .dt-th-l4, .dt-td-size {
        display: none !important;
    }

    .dt-tr, .dt-td-name-container, .dt-td-size, .dt-td-gversion {
        font-size: 17px;
    }
}

/* Current page */
.dt-download-currentpage {
    height: 150px;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
}

.dt-tooltip-container {
    width: 70px;
    margin: 0 auto;
}

.dt-tooltip {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    font-weight: 200;
    margin: 0 auto;
    position: relative;
}

.dt-tooltip .dt-tooltiptext {
    background-color: #555;
    border-radius: 5px;
    color: #fff;
    left: 50%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 100%;
    transform: translateX(-50%);
    transition: opacity 0.25s;
    width: 180px;
    z-index: 1;
}

.dt-tooltip:hover .dt-tooltiptext {
    opacity: 1;
}

.dt-tooltip .dt-left-bracket,
.dt-tooltip .dt-right-bracket,
.dt-tooltip .dt-middle-bracket {
    color: #ccc;
    margin: 0 5px;
}

.dt-middle-bracket {
    color: #fff;
    font-size: 25px;
}
  
.dt-tooltiptext {
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    width: 200px;
}

/* Download page layout */
.dt-dwnld-area {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
}

.dt-dwnld-table {
    text-align: left;
    width: 1000px;
}

.dt-dwnld-dt-td-c1 {
    width: 198px;
}

.dt-dwnld-dt-td-c2 {
    width: 498px;
}

.dt-dwnld-dt-td-c3 {
    width: auto;
}

.dt-dwnld-changelog {
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
}

.dt-dwnld-cl-header {
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
}

.dt-dwnld-cl-version {
    text-align: left;
}

.dt-dwnld-cl-changelog {
    font-size: 30px;
    font-weight: 200;
    text-align: left;
}

.dt-dwnld-cl-ul {
    font-size: 30px;
}

@media (max-width: 450px) {
    .dt-dwnld-cl-ul li, .dt-dwnld-cl-changelog p{
        font-size: 20px !important;
    }

    .dt-download-project-information-text-bottom {
        font-size: 25px !important;
    }
}

@media (max-width: 630px) {
    #project-download-btn, .dt-dwnld-td-c3 { 
        display: none;
    }
}

.dt-download-footer-information {
    font-size: 10px;
    margin: 0 auto;
    min-width: 300px;
    max-width: 1000px;
    text-align: center;
}

/* Individual Download Site */
.dt-dwnld-page-table, .dt-dwnld-td-c1, .dt-dwnld-td-c2, .dt-dwnld-td-c3, .dt-tr {
    border-top: 1px solid #fff;
    border-collapse: collapse;
    font-weight: 200;
    text-align: left;
}

.dt-dwnld-page-table {
    width: auto;
}

.dt-dwnld-page-thead {
    height: 50px;
}

.dt-dwnld-td-c1 {
    height: 50px;
    width: 100px;
}

.dt-dwnld-td-c2 {
    height: 50px;
    width: 200px;
}

.dt-dwnld-td-c3 {
    height: 50px;
    width: 300px;
}