html, body {
    background-color: #1B1D1E;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 200;
    margin: 0px;
    margin-inline: 0px;
    padding: 0px;
    padding-inline: 0;
    overflow-x: hidden;
    width: 100%;
}

.dt-p-header {
    background-color: #1B1D1E;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #fff;
    height: 94.5px;
    z-index: 1000;
}

.dt-main {
    padding-top: 104.5px;
    min-height: 100px;
}

.dt-section {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 1150px;
    max-width: 1150px;
}

.dt-footer {
    border-top: 1px solid #fff;
    font-weight: 200;
    min-height: 100px;
    text-align: center;
}

.dt-content {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Classes */
.header1 {
    text-align: center;
}

/* Basic header style */
h1 {
    font-size: 78px;
    font-weight: 300;
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-decoration: underline;
}

h2 {
    font-size: 60px;
    font-weight: 300;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h3 {
    font-size: 40px;
    font-weight: 300;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h4 {
    font-weight: 300;
    font-size: 30px;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.linkout {
    color: #fff;
    text-decoration: underline;
}

.nodecoration {
    color: #fff;
    text-decoration: none;
}

/* Button */
.dt-basic-btn {
    background-color: #282626;
    border: 1px solid #282626;
    border-radius: 12.5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 200;
    height: 45px;
    width: 300px;
    /* Non selectable text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.dt-basic-btn:hover {
    border: 1px solid #fff;
    background-color: #1B1D1E;
}

.dt-basic-btn-inner {
    height: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    width: 300px;
}

/* Scrollbar / Source: https://community.hubspot.com/t5/CMS-Development/CSS-for-Scrollbar-in-iOS-devices/m-p/293889 [03/20/2024]*/
::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: transparent; 
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-track {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #707070;
}

::-webkit-scrollbar-thumb:hover {
    background: #646464;
}

::-webkit-overflow-scrolling:touch {
    background: #707070;
    width: 5px;
}


/* Mobile */


.mb-p-header {
    background-color: #1B1D1E;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #fff;
    height: 126.5px;
    z-index: 1000;
}

.mb-main {
    margin: 0 auto;
    margin-top: 140px;
    min-height: 100px;
    width: 380px;
}

.mb-section {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 380px;
}

.mb-footer {
    border-top: 1px solid #fff;
    font-weight: 200;
    font-size: 10px;
    margin: 0 auto;
    min-height: 100px;
    text-align: center;
    max-width: 380px;
    min-width: 300px;
}

.mb-footer-content {
    margin-bottom: 20px;
    margin-top: 20px;
    min-width: 300px;
    max-width: 380px;
}

/* Classes */
.header1 {
    text-align: center;
}

/* Basic header style */
h1 {
    font-size: 3em;
    font-weight: 300;
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-decoration: underline;
}

h2 {
    font-size: 2.5em;
    font-weight: 300;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h3 {
    font-size: 40px;
    font-weight: 300;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h4 {
    font-weight: 300;
    font-size: 30px;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.linkout {
    color: #fff;
    text-decoration: underline;
}

.nodecoration {
    color: #fff;
    text-decoration: none;
}

/* Button */
.mb-basic-btn {
    background-color: #282626;
    border: 1px solid #282626;
    border-radius: 12.5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 200;
    height: 45px;
    width: 300px;
    /* Non selectable text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.mb-basic-btn:hover {
    border: 1px solid #fff;
    background-color: #1B1D1E;
}

.mb-basic-btn-inner {
    height: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    width: 300px;
}

/* Cookie Banner */
.cookie-banner {
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 15px;
    position: fixed;
    text-align: center;
    width: calc(100% - 30px);
    z-index: 1000;
}

.cb-inner {
    display: flex;
    height: auto;
}

.left-close-btn {
    background-color: #000;
    height: 62px;
    width: 25px;
}

.cb-middle-text {
    font-size: 17px;
    min-height: 50px;
    max-height: 130px;
    width: 100%;
}

.cb-right-btns {
    height: auto;
    width: 436px;
}

.cb-right-btns-inner {
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.legal-btn {
    border: 1px solid #fff;
    cursor: pointer;
    height: 50px;
    margin: 5px;
    width: 125px;
}

.legal-btn:hover {
    opacity: 0.7;
}

.legal-btn-inner {
    font-size: 15px;
    height: 21px;
    margin-bottom: 14.5px;
    margin-top: 14.5px;
}

.legal-filled-btn {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
    cursor: pointer;
    height: 50px;
    margin: 5px;
    width: 150px;
}

.legal-filled-btn:hover {
    opacity: 0.7;
}

.legal-filled-btn-inner {
    font-size: 22px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}