body {
    background-color: #1B1D1E;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 200;
    overflow-x: hidden;
}

.dt-p-header {
    background-color: #1B1D1E;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #fff;
    height: 94.5px;
    z-index: 1000;
}

.dt-main {
    padding-top: 94.5px;
    min-height: 100px;
}

.dt-section {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 1150px;
    max-width: 1150px;
}

.dt-footer {
    border-top: 1px solid #fff;
    font-weight: 200;
    min-height: 100px;
    text-align: center;
}

.dt-content {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Classes */
.header1 {
    text-align: center;
}

/* Basic header style */
h1 {
    font-size: 78px;
    font-weight: 300;
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-decoration: underline;
}

h2 {
    font-size: 60px;
    font-weight: 300;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h3 {
    font-size: 40px;
    font-weight: 300;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h4 {
    font-weight: 300;
    font-size: 30px;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.linkout {
    color: #fff;
    text-decoration: underline;
}

.nodecoration {
    color: #fff;
    text-decoration: none;
}

/* Button */
.dt-basic-btn {
    background-color: #282626;
    border: 1px solid #282626;
    border-radius: 12.5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 200;
    height: 45px;
    width: 300px;
    /* Non selectable text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.dt-basic-btn:hover {
    border: 1px solid #fff;
    background-color: #1B1D1E;
}

.dt-basic-btn-inner {
    height: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    width: 300px;
}

/* Scrollbar / Source: https://community.hubspot.com/t5/CMS-Development/CSS-for-Scrollbar-in-iOS-devices/m-p/293889 [03/20/2024]*/
::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: transparent; 
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-track {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #707070;
}

::-webkit-scrollbar-thumb:hover {
    background: #646464;
}

::-webkit-overflow-scrolling:touch {
    background: #707070;
    width: 5px;
}