/* Download Count */
.dt-download-count {
    height: 100px;
    margin: 0 auto;
    user-select: none;
    width: 585px;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.dt-download-container {
    background-color: #1B1D1E;
    border: 1px solid #888888;
    border-radius: 5px;
    height: 73.96px;
    left: 50%;
    margin-bottom: 12.225px;
    margin-top: 12.225px;
    overflow: hidden;
    position: relative;
    transform: translateX(-50%);
    width: 583px;
    -ms-transform: translateX(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#progressBar {
    background-color: #2D2D2D;
    border-radius: 5px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: width 1.5s;
    width: 0%;
}

#progressText {
    color: #fff;
    font-family: DejaVu Sans, Verdana, Geneva, sans-serif;
    font-size: 30px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.dt-counterdiv {
    display: flex;
    height: 60px;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 6.98px;
    padding-top: 6.98px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.dt-counter, .dt-countertext-separator, .dt-counter-list-item {
    color: #fff;
    font-size: 40px;
}

/* Description */
.dt-description {
    margin: auto;
}

.dt-des-content {
    font-size: 24px;
    font-weight: 200;
    width: 100%;
}

.dt-des-h-author {
    margin-left: 35px;
    margin-top: -22px;
}

.dt-des-h-project-description {
    margin: 0;
}

.dt-des-header {
    max-width: 1150px;
    min-width: 300px;
    text-align: center;
}

/* Map */
.dt-map-content {
    font-size: 22px;
    font-weight: 200;
    text-align: center;
}

.dt-map-content-arrow {
    font-size: 30px;
}

.dt-map-content-text {
    font-size: 22px;
}

/* Download with Python */
.dt-downloadwith-container {
    font-size: 22px;
}

.dt-downloadwith-left {
    font-weight: 400;
    margin-right: 5px;
}

.dt-downloadwith-line {
    display: flex;
}

/* Images */
.dt-carousel {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 428px;
    overflow: hidden;
    position: relative;
    width: 800px;
}

.dt-carousel button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.dt-carousel img {
    display: block;
    height: 428px;
    width: 100%;
}

.dt-carousel li {
    min-width: 100%;
}

.dt-carousel ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: transform 0.5s ease-in-out;
}

.dt-carousel .dt-navbt-prev {
    border-radius: 5px;
    height: 40px;
    left: 10px;
    width: 40px;
}

.dt-carousel .dt-navbtn-next {
    border-radius: 5px;
    height: 40px;
    right: 10px;
    width: 40px;
}

.dt-image-slider {
    align-items: center;
    background-color: #1B1D1E;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.dt-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dt-indicators button {
    background-color: #bbb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 5px;
    margin: 0 5px;
    overflow: hidden;
    position: relative;
    width: 15px;
}

.dt-indicators button.dt-active {
    background-color: #bbb;
    border-radius: 5px;
    height: 5px;
    width: 45px;
}

.dt-indicators button .dt-progress {
    animation: fill 3s linear infinite;
    background-color: #717171;
    border-radius: 2.5px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}

.dt-li-img {
    position: relative;
}

.dt-li-text {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    font-size: 17.9px;
    height: auto;
    margin-top: -70px;
    padding: 5px;
    position: relative;
    text-align: center;
    width: 790px;
}

/* Trailer */
.dt-trailer-container {
    background-color: #1B1D1E;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.dt-videocontainer {
    border: 1px solid #ccc;
    border-radius: 7.5px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 711px;
}

/* Cookie Preferences */
.cookie-preferences-information-container {
    position: relative;
    top: 10px;
    width: calc(100% - 20px);
    margin: 0 auto;
}

.cookie-preferences-information-container a {
    font-size: 20px;
}

.mb-cookie-preferences-information-container {
    position: relative;
    top: 10px;
    width: calc(100% - 20px);
    margin: 0 auto;
}

.mb-cookie-preferences-information-container a {
    font-size: 18px;
}

/* Other */
.flexible-img {
    height: auto;
    width: 100%;
}

.flexible-iframe {
    width: auto;
}

iframe {
    border-radius: 7.5px;
}

/* V5.0 Update */
.dt-v5-0-content {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 200;
}

/* FAQ Container */
.dt-faq-container {
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    overflow: hidden;
}

.content {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
    width: calc(100% - 50px);
}

.dt-box {
    cursor: pointer;
    margin-bottom: 10px;
    overflow: hidden;
    padding-top: 10px;
    position: relative;
    width: 97.5%;
}

.dt-content {
    display: block;
    overflow: hidden;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 10px;
    width: 90%;
}

.dt-special-information {
    font-size: 8px;
}

.dt-triangle {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    width: 0;
}

.rotated {
    transform: translateY(-50%) rotate(180deg);
}

@keyframes fill {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}