.dt-legal-header {
    max-width: 1150px;
    margin: 0 auto;
    min-height: 50px;
    text-align: center;
}

.dt-legal-subheader {

}

.dt-legal-text-section {
    font-size: 25px;
    line-height: 37.5px;
    max-width: 1150px;
    margin: 0 auto;
    min-height: 40px;
    text-align: left;
}

.dt-legal-text-enumerations {

}

.dt-legal-text-enumeration-line {
    display: flex;
}

.dt-legal-text-enumeration-left {
    margin-left: 5px;
    margin-right: 10px;
}

.dt-legal-text-enumeration-right {

}

.dt-legal-h1 {
    font-size: 35px;
    font-weight: 500;
}

.dt-legal-h2 {
    font-size: 30px;
    font-weight: 500;
}

.dt-legal-ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

/*  Every section: <div class="placeholder w1150 h30"></div>
    Header to subheader: <div class="placeholder w1150 h20"></div>
    Link ending: ?utm_src=projektcity_legal_information_link_linkout&utm_medium=projektcity&entry_point=X&return_url=https%3A%2F%2Fprojektcity.github.io%2Flegal%2Fprivacy
    X.X to X.XX --> 30px
    X.XX to X.XXX --> 20px

Enoumeration:


<div class="dt-legal-text-enumeration-line">
    <div class="dt-legal-text-enumeration-left">
        <a></a>
    </div>
    <div class="dt-legal-text-enumeration-right">
        <a></a>
    </div>
</div>

<a class="linkout" href="" target="_blank"></a>