#mobile-header {
    width: 950px;
    border: 1px solid #fff;
}


body {
    font-family: 'Poppins';
    font-weight: 200;
    margin: 0;
}
.head {
    height: 119px;
    margin: 0 auto;
    overflow: hidden;
    width: 310px;
}

.header {
    height: 119px;
    width: 310px;
}

.top-menu {
    border: 1px solid #32333C;
    background-color: #24262B;
    border-radius: 5px;
    width: 308px;
}

.box-container {
    width: 303px;
    height: 50px;
    padding: 2.5px;
}

.left-column {
    height: 50px;
    width: 303px;
}

.information {
    display: flex;
    height: 50px;
    justify-content: space-around;
    position: relative;
    width: 303px;
}

.img {
    height: 50px;
    width: 50px;
}

img {
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.text {
    width: 253px;
}

.text-inner {
    height: 50px;
    width: 253px;
}

.bottom-menu {
    border: 1px solid #32333C;
    background-color: #24262B;
    border-radius: 5px;
    width: 308px;
}

.right-column {

}

.others {
    display: flex;
    height: 50px;
    justify-content: space-around;
    position: relative;
}

.clickelement {
    width: 50px;
    height: 50px;
}